#contact-body {
  background-color: var(--app-gray-default);
}

#contact-inner-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 2rem;
}

#contact-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  font-size: 20px;
}

#contact-email,
#contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact-email div {
  font-size: 28px;
}

#contact-email img {
  width: 40px;
  height: 40px;
}

#contact-icons {
  gap: 2rem;
}
#contact-icons img {
  width: 50px;
  height: 50px;
}
