#footer-body {
  background-color: var(--app-gray-50);
}

#footer-inner-body {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

#footer-inner-body a {
  color: var(--app-gray-600);
  text-decoration: none;
  transition: color 0.2s ease;
}

#footer-inner-body a:hover,
#footer-inner-body a:active {
  color: var(--app-gray-950);
  text-decoration: none;
}

#footer-divider {
  width: 1px;
  height: 15px;
  background-color: var(--app-gray-600);
}

#up {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
#up img {
  width: 30px;
  height: 30px;
}
