#intro-body {
  background-color: var(--app-gray-default);
}

#intro-inner-body {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: space-between;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

#intro-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#intro-left-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#intro-left-text-main {
  font-family: Inter-Bold;
  font-size: 72px;
  color: var(--app-gray-900);
}

#intro-left-text-desc {
}

#intro-left-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.intro-left-info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

#green-circle-wrapper {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#location {
  width: 25px;
  height: 25px;
}

#green-circle {
  width: 10px;
  height: 10px;
  background-color: #10b981;
  border-radius: 50%;
}

#intro-left-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#pic-wrapper {
  width: 400px;
  height: 400px;
}

#pic {
  margin-top: 16px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid var(--app-gray-default);
  z-index: 2;
  position: relative;
}

#img-shadow {
  width: 300px;
  height: 300px;
  background-color: var(--app-gray-200);
  transform: translateX(20%) translateY(-90%);
  border-radius: 50%;
  z-index: 0;
  position: relative;
}
